# seoul_report.csv 읽기
+ 서울시 주민등록인구 (구별) 통계 - [서울열린데이터광장 ](http://data.seoul.go.kr/dataList/datasetView.do?serviceKind=2&infId=419&stcSrl=419&srvType=S)

## CSV 파일 읽기
- seoul_report.csv 파일의 내용을 DataFrame으로 읽고 변수에 대입

In [2]:
import pandas as pd

In [167]:
seoul=pd.read_csv("./data/seoul_report.csv")
seoul

,자치구,세대,총합계,남자,여자,한국인합계,한국인남자,한국인여자,외국인합계,남자외국인,여자외국인,세대당인구,65세이상고령자
0,합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420
1,종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
2,중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655
3,용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238
4,성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752
5,광진구,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470
6,동대문구,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284
7,중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1885,2799,2.27,59992
8,성북구,187234,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896
9,강북구,143139,327511,159853,167658,323862,158440,165422,3649,1413,2236,2.26,57002
10,도봉구,137479,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293
11,노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081
12,은평구,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535
13,서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645
14,마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122
15,양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070
16,강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
17,구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838
18,금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640
19,영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704
20,동작구,173544,406715,197848,208867,394353,192215,202138,12362,5633,6729,2.27,57711
21,관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807
22,서초구,174225,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055
23,강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859
24,송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978
25,강동구,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983

# 열명 변경
- 읽은 DataFrame에 어떤 컬럼이 있는지 확인하고 열명을 아래와 같이 바꾼다. (이외 열이름은 그대로 유지)    
    - '총합계' : '총인구' 
    - '한국인합계': '한국인'
    - '외국인합계' : '외국인'
    - '65세이상고령자' : '고령자'

In [168]:
seoul=seoul.rename(columns={"총합계":"총인구","한국인합계":"한국인","외국인합계":"외국인","65세이상고령자":"고령자"})
seoul

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
0,합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420
1,종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
2,중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655
3,용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238
4,성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752
5,광진구,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470
6,동대문구,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284
7,중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1885,2799,2.27,59992
8,성북구,187234,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896
9,강북구,143139,327511,159853,167658,323862,158440,165422,3649,1413,2236,2.26,57002
10,도봉구,137479,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293
11,노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081
12,은평구,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535
13,서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645
14,마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122
15,양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070
16,강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
17,구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838
18,금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640
19,영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704
20,동작구,173544,406715,197848,208867,394353,192215,202138,12362,5633,6729,2.27,57711
21,관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807
22,서초구,174225,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055
23,강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859
24,송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978
25,강동구,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983

# 사용할 열들만 추출
- 자치구, 총인구, 한국인, 외국인, 고령자 열만 가지는 dataframe 생성
    - shape이 (n, 5) 이 되도록

In [169]:
seoul[["자치구","총인구","한국인","외국인","고령자"]]

     자치구       총인구      한국인     외국인      고령자
0     합계  10112070  9838892  273178  1382420
1    종로구    164348   154549    9799    26429
2     중구    135139   126082    9057    21655
3    용산구    245411   229909   15502    37238
4    성동구    314551   306532    8019    41752
5    광진구    371671   357149   14522    44470
6   동대문구    364962   349308   15654    56284
7    중랑구    411552   406868    4684    59992
8    성북구    453902   442226   11676    66896
9    강북구    327511   323862    3649    57002
10   도봉구    345041   342861    2180    54293
11   노원구    555803   551902    3901    75081
12   은평구    490253   485902    4351    75535
13  서대문구    324871   312311   12560    49645
14   마포구    385624   374742   10882    50122
15   양천구    473087   469221    3866    56070
16   강서구    608361   601696    6665    77381
17   구로구    440396   408369   32027    59838
18   금천구    253344   234238   19106    34640
19  영등포구    403988   369128   34860    54704
20   동작구    406715   394353   12362    57711
21   관악구    522292   504445   17847    70807
22   서초구    445164   440954    4210    54055
23   강남구    557865   552976    4889    65859
24   송파구    671994   665282    6712    77978
25   강동구    438225   434027    4198    56983

# DataFrame 개괄 정보 조회
1. 몇행/몇열인지 조회
1. 결측치가 있는지 조회
1. DataFrame에 대한 정보(index, columns) 확인
1. 상위 5개 행만 조회
1. 하위 5개 행만 조회
1. 컬럼별 통계량 요약 조회

In [43]:
seoul.shape

(26, 12)

In [46]:
seoul.isna().sum()

세대       0
총인구      0
남자       0
여자       0
한국인      0
한국인남자    0
한국인여자    0
외국인      0
남자외국인    0
여자외국인    0
세대당인구    0
고령자      0
dtype: int64

In [47]:
seoul.head()

,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
자치구,,,,,,,,,,,,
합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420
종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655
용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238
성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752

In [48]:
seoul.tail()

,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
자치구,,,,,,,,,,,,
관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807
서초구,174225,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055
강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859
송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978
강동구,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983

In [51]:
seoul.describe()

,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
count,2.600000e+01,2.600000e+01,2.600000e+01,2.600000e+01,2.600000e+01,2.600000e+01,2.600000e+01,26.000000,26.000000,26.000000,26.000000,2.600000e+01
mean,3.259700e+05,7.778515e+05,3.806524e+05,3.971992e+05,7.568378e+05,3.705775e+05,3.862604e+05,21013.692308,10074.923077,10938.769231,2.304231,1.063400e+05
std,7.994606e+05,1.907984e+06,9.336645e+05,9.743318e+05,1.856777e+06,9.091048e+05,9.476827e+05,52081.287523,25097.518239,27026.919566,0.164175,2.606869e+05
min,6.090300e+04,1.351390e+05,6.658200e+04,6.855700e+04,1.260820e+05,6.237600e+04,6.370600e+04,2180.000000,824.000000,1356.000000,1.950000,2.165500e+04
25%,1.391032e+05,3.318935e+05,1.620980e+05,1.714852e+05,3.286118e+05,1.608322e+05,1.677745e+05,4434.250000,2017.250000,2427.500000,2.200000,4.976425e+04
50%,1.726475e+05,4.091335e+05,2.039415e+05,2.080040e+05,4.006105e+05,1.973705e+05,2.032400e+05,9428.000000,4186.500000,5218.500000,2.275000,5.663350e+04
75%,1.993818e+05,4.859615e+05,2.364538e+05,2.495078e+05,4.817318e+05,2.346078e+05,2.471240e+05,15257.000000,6171.250000,8319.000000,2.390000,6.663675e+04
max,4.237610e+06,1.011207e+07,4.948481e+06,5.163589e+06,9.838892e+06,4.817507e+06,5.021385e+06,273178.000000,130974.000000,142204.000000,2.660000,1.382420e+06

In [53]:
seoul.size

312

# 열이름으로 조회
1. 총인구 열의 모든 값들을 조회
1. 한국인, 외국인 열의 모든 값들을 조회

In [171]:
# seoul["총인구"].to_frame()
seoul.iloc[:,2].to_frame()

         총인구
0   10112070
1     164348
2     135139
3     245411
4     314551
5     371671
6     364962
7     411552
8     453902
9     327511
10    345041
11    555803
12    490253
13    324871
14    385624
15    473087
16    608361
17    440396
18    253344
19    403988
20    406715
21    522292
22    445164
23    557865
24    671994
25    438225

In [172]:
seoul.loc[:,["한국인","외국인"]]

        한국인     외국인
0   9838892  273178
1    154549    9799
2    126082    9057
3    229909   15502
4    306532    8019
5    357149   14522
6    349308   15654
7    406868    4684
8    442226   11676
9    323862    3649
10   342861    2180
11   551902    3901
12   485902    4351
13   312311   12560
14   374742   10882
15   469221    3866
16   601696    6665
17   408369   32027
18   234238   19106
19   369128   34860
20   394353   12362
21   504445   17847
22   440954    4210
23   552976    4889
24   665282    6712
25   434027    4198

# 행기준 조회
1. 5번째 행의 데이터를 조회.
1. 1, 5, 7, 10 번째 행의 데이터를 조회
1. 15 ~ 20 번째 행의 데이터를 조회
1. 10~15 행에서 자치구, 총인구, 한국인 열의 값을 조회
1. 6, 7, 8 번째 행의 한국인, 외국인 열의 값을 조회

In [173]:
seoul.iloc[5].to_frame()

            5
자치구       광진구
세대     161407
총인구    371671
남자     180206
여자     191465
한국인    357149
한국인남자  173946
한국인여자  183203
외국인     14522
남자외국인    6260
여자외국인    8262
세대당인구    2.21
고령자     44470

In [174]:
seoul.iloc[[1,5,7,10]]

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
1,종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
5,광진구,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470
7,중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1885,2799,2.27,59992
10,도봉구,137479,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293

In [175]:
seoul.loc[15:20]

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
15,양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070
16,강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
17,구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838
18,금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640
19,영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704
20,동작구,173544,406715,197848,208867,394353,192215,202138,12362,5633,6729,2.27,57711

In [176]:
seoul.loc[10:15][["자치구","총인구","한국인"]]

     자치구     총인구     한국인
10   도봉구  345041  342861
11   노원구  555803  551902
12   은평구  490253  485902
13  서대문구  324871  312311
14   마포구  385624  374742
15   양천구  473087  469221

In [177]:
seoul.loc[6:8][["한국인","외국인"]]

      한국인    외국인
6  349308  15654
7  406868   4684
8  442226  11676

# index 이름 지정
1. '자치구' 열을 index로 설정
1. 데이터 프레임의 index이름 조회
1. 강남구 행 조회
1. 종로구, 성동구, 서대문구 행 조회
1. 노원구 ~ 금천구 조회
1. 종로구의 한국인,외국인 열의 값 조회
1. 도봉구, 노원구, 송파구의 총인구와 고령자 열의 값 조회

In [178]:
seoul=seoul.set_index("자치구")

In [26]:
# seoul=seoul.reset_index()

In [179]:
seoul.index,seoul.index.name

(Index(['합계', '종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
        '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구', '영등포구',
        '동작구', '관악구', '서초구', '강남구', '송파구', '강동구'],
       dtype='object', name='자치구'),
 '자치구')

In [180]:
seoul.loc["강남구"]

세대       231219.00
총인구      557865.00
남자       267314.00
여자       290551.00
한국인      552976.00
한국인남자    264834.00
한국인여자    288142.00
외국인        4889.00
남자외국인      2480.00
여자외국인      2409.00
세대당인구         2.39
고령자       65859.00
Name: 강남구, dtype: float64

In [181]:
seoul.loc[["종로구","성동구","서대문구"]]

,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
자치구,,,,,,,,,,,,
종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752
서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645

In [182]:
# seoul.loc["노원구":"금천구"]
seoul.iloc[11:19]

,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
자치구,,,,,,,,,,,,
노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081
은평구,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535
서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645
마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122
양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070
강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838
금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640

In [183]:
seoul.loc["종로구",["한국인","외국인"]]

한국인    154549.0
외국인      9799.0
Name: 종로구, dtype: float64

In [184]:
seoul

,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
자치구,,,,,,,,,,,,
합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420
종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655
용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238
성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752
광진구,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470
동대문구,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284
중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1885,2799,2.27,59992
성북구,187234,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896
강북구,143139,327511,159853,167658,323862,158440,165422,3649,1413,2236,2.26,57002
도봉구,137479,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293
노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081
은평구,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535
서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645
마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122
양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070
강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838
금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640
영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704
동작구,173544,406715,197848,208867,394353,192215,202138,12362,5633,6729,2.27,57711
관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807
서초구,174225,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055
강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859
송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978
강동구,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983

In [185]:
# seoul.loc[["도봉구","노원구","송파구"],["총인구","고령자"]]
seoul.iloc[[10,11,24],[1,11]]

        총인구    고령자
자치구
도봉구  345041  54293
노원구  555803  75081
송파구  671994  77978

# Boolean 인덱싱 - 조건으로 조회
1. 총인구가 500,000 이상인 행 조회
1. 외국인이 15,000 이상인 행의 한국인, 외국인 열 조회
1. 외국인이 고령자보다 많은 행을 조회 (없으므로 아무 행도 안나오는게 정상임)
1. 고령자수가 60,000 ~ 70,000 인 행 조회
1. 외국인이 15,000 이상이고 고령자가 50,000 이상인 행을 조회

In [186]:
seoul[seoul["총인구"]>500000]

,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
자치구,,,,,,,,,,,,
합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420
노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081
강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807
강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859
송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978

In [187]:
# seoul[seoul["외국인"]>15000][["한국인","외국인"]]
seoul.loc[seoul["외국인"]>15000,["한국인","외국인"]]

          한국인     외국인
자치구
합계    9838892  273178
용산구    229909   15502
동대문구   349308   15654
구로구    408369   32027
금천구    234238   19106
영등포구   369128   34860
관악구    504445   17847

In [188]:
seoul[seoul["외국인"]>seoul["고령자"]]

Empty DataFrame
Columns: [세대, 총인구, 남자, 여자, 한국인, 한국인남자, 한국인여자, 외국인, 남자외국인, 여자외국인, 세대당인구, 고령자]
Index: []

In [189]:
seoul[(seoul["고령자"]>=60000) & (seoul["고령자"]<=70000)]

,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
자치구,,,,,,,,,,,,
성북구,187234,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896
강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859

In [190]:
seoul[(seoul["외국인"]>=15000) & (seoul["고령자"]>=50000)]

,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
자치구,,,,,,,,,,,,
합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420
동대문구,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284
구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838
영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704
관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807

# 정렬
1. 자치구컬럼 기준 오름차순 순으로 정렬
1. 자치구컬럼 기준 내림차순 순으로 정렬
1. 외국인이 많이 있는 순으로 정렬
1. 한국인이 많이 있는 순서로 정렬하고 혹시 같으면 고령자가 적은 순으로 2차 정렬
1. 합계를 지우고 총인구 내림차순으로 정렬

In [115]:
seoul.sort_index()

,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
자치구,,,,,,,,,,,,
강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859
강동구,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983
강북구,143139,327511,159853,167658,323862,158440,165422,3649,1413,2236,2.26,57002
강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807
광진구,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470
구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838
금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640
노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081
도봉구,137479,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293
동대문구,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284
동작구,173544,406715,197848,208867,394353,192215,202138,12362,5633,6729,2.27,57711
마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122
서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645
서초구,174225,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055
성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752
성북구,187234,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896
송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978
양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070
영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704
용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238
은평구,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535
종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655
중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1885,2799,2.27,59992
합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420

In [116]:
seoul.sort_index(ascending=False)

,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
자치구,,,,,,,,,,,,
합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420
중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1885,2799,2.27,59992
중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655
종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
은평구,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535
용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238
영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704
양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070
송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978
성북구,187234,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896
성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752
서초구,174225,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055
서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645
마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122
동작구,173544,406715,197848,208867,394353,192215,202138,12362,5633,6729,2.27,57711
동대문구,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284
도봉구,137479,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293
노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081
금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640
구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838
광진구,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470
관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807
강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
강북구,143139,327511,159853,167658,323862,158440,165422,3649,1413,2236,2.26,57002
강동구,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983
강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859

In [130]:
seoul.sort_values(by="외국인",ascending=False)

,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
자치구,,,,,,,,,,,,
합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420
영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704
구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838
금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640
관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807
동대문구,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284
용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238
광진구,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470
서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645
동작구,173544,406715,197848,208867,394353,192215,202138,12362,5633,6729,2.27,57711
성북구,187234,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896
마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122
종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655
성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752
송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978
강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859
중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1885,2799,2.27,59992
은평구,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535
서초구,174225,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055
강동구,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983
노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081
양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070
강북구,143139,327511,159853,167658,323862,158440,165422,3649,1413,2236,2.26,57002
도봉구,137479,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293

In [132]:
seoul.sort_values(by=["한국인","고령자"],ascending=[False,True])

,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
자치구,,,,,,,,,,,,
합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420
송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978
강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859
노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081
관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807
은평구,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535
양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070
성북구,187234,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896
서초구,174225,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055
강동구,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983
구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838
중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1885,2799,2.27,59992
동작구,173544,406715,197848,208867,394353,192215,202138,12362,5633,6729,2.27,57711
마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122
영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704
광진구,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470
동대문구,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284
도봉구,137479,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293
강북구,143139,327511,159853,167658,323862,158440,165422,3649,1413,2236,2.26,57002
서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645
성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752
금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640
용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238
종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655

In [136]:
seoul.drop("합계").sort_values(by="총인구",ascending=False)

,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
자치구,,,,,,,,,,,,
송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978
강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859
노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081
관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807
은평구,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535
양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070
성북구,187234,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896
서초구,174225,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055
구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838
강동구,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983
중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1885,2799,2.27,59992
동작구,173544,406715,197848,208867,394353,192215,202138,12362,5633,6729,2.27,57711
영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704
마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122
광진구,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470
동대문구,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284
도봉구,137479,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293
강북구,143139,327511,159853,167658,323862,158440,165422,3649,1413,2236,2.26,57002
서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645
성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752
금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640
용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238
종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655

# 열 추가 - 파생변수
1. 총인구 대비 외국인의 비율을 계산한 값을 **외국인비율** 컬럼을 만들어 넣기 (외국인/총인구 * 100)
1. 총인구 대비 고령자의 비율을 계산한 값을 **고령자비율** 컬럼을 만들어 넣기

In [193]:
비율=seoul["외국인"]/seoul["총인구"]*100
seoul["외국인비율"]=비율
seoul

,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자,외국인비율
자치구,,,,,,,,,,,,,
합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420,2.701504
종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429,5.962348
중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655,6.701988
용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238,6.316750
성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752,2.549348
광진구,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470,3.907219
동대문구,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284,4.289214
중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1885,2799,2.27,59992,1.138131
성북구,187234,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896,2.572361
강북구,143139,327511,159853,167658,323862,158440,165422,3649,1413,2236,2.26,57002,1.114161
도봉구,137479,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293,0.631809
노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081,0.701867
은평구,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535,0.887501
서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645,3.866150
마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122,2.821920
양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070,0.817186
강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381,1.095567
구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838,7.272319
금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640,7.541525
영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704,8.628969
동작구,173544,406715,197848,208867,394353,192215,202138,12362,5633,6729,2.27,57711,3.039475
관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807,3.417054
서초구,174225,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055,0.945719
강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859,0.876377
송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978,0.998818
강동구,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983,0.957955

In [194]:
고비=seoul["고령자"]/seoul["총인구"]*100
seoul["고령자비율"]=고비
seoul

,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자,외국인비율,고령자비율
자치구,,,,,,,,,,,,,,
합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420,2.701504,13.670989
종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429,5.962348,16.081121
중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655,6.701988,16.024242
용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238,6.316750,15.173729
성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752,2.549348,13.273523
광진구,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470,3.907219,11.964883
동대문구,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284,4.289214,15.421880
중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1885,2799,2.27,59992,1.138131,14.577016
성북구,187234,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896,2.572361,14.737983
강북구,143139,327511,159853,167658,323862,158440,165422,3649,1413,2236,2.26,57002,1.114161,17.404606
도봉구,137479,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293,0.631809,15.735231
노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081,0.701867,13.508563
은평구,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535,0.887501,15.407351
서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645,3.866150,15.281450
마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122,2.821920,12.997635
양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070,0.817186,11.851943
강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381,1.095567,12.719586
구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838,7.272319,13.587317
금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640,7.541525,13.673109
영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704,8.628969,13.540996
동작구,173544,406715,197848,208867,394353,192215,202138,12362,5633,6729,2.27,57711,3.039475,14.189543
관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807,3.417054,13.556976
서초구,174225,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055,0.945719,12.142716
강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859,0.876377,11.805544
송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978,0.998818,11.603973
강동구,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983,0.957955,13.003138

# 기술 통계정보
- 아래를 조회하는데 합계 행은 빼고 계산한다.
1. 총인구 컬럼의 평균, 합계, 중위값, 표준편차, 분산, 데이터개수
1. 외국인과 고령자의 평균, 표준편차 조회
1. 외국인이 가장 적은 행을 조회

In [200]:
seoul["총인구"].drop("합계").agg(["mean","sum","median","std","var","nunique"]).to_frame()

                  총인구
mean     4.044828e+05
sum      1.011207e+07
median   4.067150e+05
std      1.286647e+05
var      1.655461e+10
nunique  2.500000e+01

In [203]:
seoul[["외국인","고령자"]].drop("합계").agg(["mean","std"])

               외국인           고령자
mean  10927.120000  55296.800000
std    8369.590678  15035.905515

In [209]:
seoul.sort_values(by="외국인").drop("합계").iloc[0].to_frame()

                 도봉구
세대     137479.000000
총인구    345041.000000
남자     168833.000000
여자     176208.000000
한국인    342861.000000
한국인남자  168009.000000
한국인여자  174852.000000
외국인      2180.000000
남자외국인     824.000000
여자외국인    1356.000000
세대당인구       2.490000
고령자     54293.000000
외국인비율       0.631809
고령자비율      15.735231

# DataFrame 병합하기
### seoul_cctv.csv 파일
- 서울 자치구 연도별 CCTV 데이터 셋 [서울열린데이터광장](http://data.seoul.go.kr/dataList/OA-2734/C/1/datasetView.do)    


1. seoul_cctv.csv 파일을 DataFrame으로 읽기
2. 서울시 자치구별 인구 DataFrame과 서울시 자치구 CCTV 데이터 셋을 **구 이름을 기준으로** 결합하여 하나의 DataFrame으로 만드시오.

In [223]:
seoul_c=pd.read_csv("./data/seoul_cctv.csv")
seoul_c=seoul_c.set_index("기관명")

In [224]:
seoul_c.join(seoul.sort_index().drop("합계"),how="outer")

,2014년 CCTV 수,2015년 CCTV 수,2016년 CCTV 수,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자,외국인비율,고령자비율
기관명,,,,,,,,,,,,,,,,,
강남구,430,584,932,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859,0.876377,11.805544
강동구,99,155,377,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983,0.957955,13.003138
강북구,120,138,204,143139,327511,159853,167658,323862,158440,165422,3649,1413,2236,2.26,57002,1.114161,17.404606
강서구,258,184,81,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381,1.095567,12.719586
관악구,260,390,613,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807,3.417054,13.556976
광진구,78,53,174,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470,3.907219,11.964883
구로구,173,246,323,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838,7.272319,13.587317
금천구,51,269,354,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640,7.541525,13.673109
노원구,57,451,516,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081,0.701867,13.508563
도봉구,159,42,386,137479,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293,0.631809,15.735231
동대문구,23,198,579,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284,4.289214,15.421880
동작구,341,103,314,173544,406715,197848,208867,394353,192215,202138,12362,5633,6729,2.27,57711,3.039475,14.189543
마포구,118,169,379,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122,2.821920,12.997635
서대문구,50,68,292,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645,3.866150,15.281450
서초구,157,336,398,174225,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055,0.945719,12.142716
성동구,91,241,265,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752,2.549348,13.273523
성북구,78,360,204,187234,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896,2.572361,14.737983
송파구,21,68,463,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978,0.998818,11.603973
양천구,142,30,467,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070,0.817186,11.851943
영등포구,214,195,373,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704,8.628969,13.540996
용산구,218,112,398,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238,6.316750,15.173729
은평구,224,278,468,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535,0.887501,15.407351
종로구,314,211,630,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429,5.962348,16.081121
중구,190,72,348,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655,6.701988,16.024242
중랑구,121,177,109,179600,411552,204411,207141,406868,202526,204342,4684,1885,2799,2.27,59992,1.138131,14.577016

# Groupby와 집계
## forestfire.csv 파일
- 포르투칼 북서부 산림 산불관련 데이터 셋 [UCI Machine learning repository](https://archive.ics.uci.edu/ml/datasets/forest+fires)    


1. forestfire.csv 파일을 DataFrame으로 읽기
1. 어떤 컬럼들이 범주형 컬럼인지 확인.
1. 월(month)과 요일(day) 의 고유한(unique) 값들과 각각의 행수 조회
1. 요일(day) 별 wind의 평균을 조회
1. 요일(day) 별 wind, rain의 평균을 조회
1. 요일(day) 별 wind, rain의 평균과 합계과 개수 조회
1. 요일(day) 별로 wind는 평균을 rain은 합계와 최대값을 조회
1. 월(month) 그리고 요일별(day) temp의 최대값과 최소값을 조회
1. X좌표(X), Y좌표(Y)별 temp의 평균울 pivot table로 조회

In [ ]:
#forestfire.csv 파일을 DataFrame으로 읽기
forest=pd.read_csv("./data/forestfire.csv")
forest

In [232]:
#어떤 컬럼들이 범주형 컬럼인지 확인.
forest.info()
forest.describe(exclude=['object'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X       517 non-null    int64
 1   Y       517 non-null    int64
 2   month   517 non-null    object
 3   day     517 non-null    object
 4   FFMC    517 non-null    float64
 5   DMC     517 non-null    float64
 6   DC      517 non-null    float64
 7   ISI     517 non-null    float64
 8   temp    517 non-null    float64
 9   RH      517 non-null    int64
 10  wind    517 non-null    float64
 11  rain    517 non-null    float64
 12  area    517 non-null    float64
dtypes: float64(8), int64(3), object(2)
memory usage: 52.6+ KB

,X,Y,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area
count,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000
mean,4.669246,4.299807,90.644681,110.872340,547.940039,9.021663,18.889168,44.288201,4.017602,0.021663,12.847292
std,2.313778,1.229900,5.520111,64.046482,248.066192,4.559477,5.806625,16.317469,1.791653,0.295959,63.655818
min,1.000000,2.000000,18.700000,1.100000,7.900000,0.000000,2.200000,15.000000,0.400000,0.000000,0.000000
25%,3.000000,4.000000,90.200000,68.600000,437.700000,6.500000,15.500000,33.000000,2.700000,0.000000,0.000000
50%,4.000000,4.000000,91.600000,108.300000,664.200000,8.400000,19.300000,42.000000,4.000000,0.000000,0.520000
75%,7.000000,5.000000,92.900000,142.400000,713.900000,10.800000,22.800000,53.000000,4.900000,0.000000,6.570000
max,9.000000,9.000000,96.200000,291.300000,860.600000,56.100000,33.300000,100.000000,9.400000,6.400000,1090.840000

In [237]:
# 월(month)과 요일(day) 의 고유한(unique) 값들과 각각의 행수 조회
forest["month"].nunique(),forest["day"].nunique()

(12, 7)

In [243]:
forest["month"].value_counts(),forest["day"].value_counts()

(month
 aug    184
 sep    172
 mar     54
 jul     32
 feb     20
 jun     17
 oct     15
 apr      9
 dec      9
 jan      2
 may      2
 nov      1
 Name: count, dtype: int64,
 day
 sun    95
 fri    85
 sat    84
 mon    74
 tue    64
 thu    61
 wed    54
 Name: count, dtype: int64)

In [250]:
#요일(day) 별 wind의 평균을 조회

forest.groupby("day")["wind"].mean()

day
fri    4.494118
mon    3.737838
sat    3.758333
sun    4.123158
thu    3.711475
tue    4.271875
wed    3.912963
Name: wind, dtype: float64

In [253]:
#요일(day) 별 wind, rain의 평균을 조회
forest.groupby("day")[["wind","rain"]].mean()

         wind      rain
day
fri  4.494118  0.018824
mon  3.737838  0.000000
sat  3.758333  0.000000
sun  4.123158  0.010526
thu  3.711475  0.000000
tue  4.271875  0.131250
wed  3.912963  0.003704

In [255]:
#요일(day) 별 wind, rain의 평균과 합계과 개수 조회
forest.groupby("day")[["wind","rain"]].agg(["mean","sum","count"])

         wind                   rain
         mean    sum count      mean  sum count
day
fri  4.494118  382.0    85  0.018824  1.6    85
mon  3.737838  276.6    74  0.000000  0.0    74
sat  3.758333  315.7    84  0.000000  0.0    84
sun  4.123158  391.7    95  0.010526  1.0    95
thu  3.711475  226.4    61  0.000000  0.0    61
tue  4.271875  273.4    64  0.131250  8.4    64
wed  3.912963  211.3    54  0.003704  0.2    54

In [256]:
#요일(day) 별로 wind는 평균을 rain은 합계와 최대값을 조회
forest.groupby("day").agg({
    "wind":"mean", "rain":["sum","max"]
})

         wind rain
         mean  sum  max
day
fri  4.494118  1.6  1.4
mon  3.737838  0.0  0.0
sat  3.758333  0.0  0.0
sun  4.123158  1.0  1.0
thu  3.711475  0.0  0.0
tue  4.271875  8.4  6.4
wed  3.912963  0.2  0.2

In [257]:
#월(month) 그리고 요일별(day) temp의 최대값과 최소값을 조회
forest.groupby(["month","day"])["temp"].agg(["max","min"])

            max   min
month day
apr   fri  16.7  16.7
      mon  10.9  10.9
      sat   9.3   9.3
      sun  17.6  13.4
      thu   5.8   5.8
...         ...   ...
sep   sat  30.2  15.4
      sun  28.3  12.2
      thu  27.7  12.9
      tue  24.3  13.1
      wed  26.4  10.5

[64 rows x 2 columns]

In [261]:
#X좌표(X), Y좌표(Y)별 temp의 평균울 pivot table로 조회
# forest.groupby(["X","Y"])["temp"].agg("mean").to_frame() # 아님
forest.pivot_table(index="X",   # group으로 묶을 컬럼중 행에 위치할 것
                    columns="Y", # group으로 묶을 컬럼중 열에 위치할 것
                    values="temp",# 집계(통계량을 구할)할 컬럼 
                    aggfunc="mean"      # 집계함수
                   )

Y          2          3          4          5          6     8          9
X
1  20.747368  21.730000  19.606667  25.000000        NaN   NaN        NaN
2  18.532000  18.000000  21.833333  21.545000        NaN   NaN        NaN
3        NaN  24.200000  17.706977  14.714286  17.800000   NaN        NaN
4        NaN  21.045455  17.905556  17.864000  12.250000   NaN        NaN
5        NaN        NaN  18.617391  14.666667  20.000000   NaN        NaN
6        NaN  18.536000  15.388889  16.477551  25.900000   NaN        NaN
7        NaN  14.400000  17.875556  19.618182  19.750000   NaN        NaN
8        NaN  20.566667  21.300000  21.325000  19.815385  26.2        NaN
9        NaN        NaN  24.225000  28.000000  20.500000   NaN  20.066667